registry=https://registry.npm.taobao.org
NODEJS_ORG_MIRROR=https://npm.taobao.org/mirrors/node
arch=ia32
target_arch=ia32
msvs_version=2017
disturl=https://atom.io/download/electron
runtime=electron
target=7.1.7
build_from_source=true